name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: gpp
      run: g++ -std=c++17 "linklist to playlist.xspf.cpp"
    - name: prepare test
      run: echo https://example.com/example.mp4 | tee example.txt
    - name: test
      run: ./a.out example.txt
    - name: output
      run: cat example.xspf
